@import "../../assets/constants.scss";

.industryBranch {
    // max-width: $maxWidth;
    // margin: 0 auto;
    max-width: 100vw;
    // max-height: 350px;
    position: relative;
    $width1050: 1050px;

    &__number {
        position: absolute;
        top: 10px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 8px #747a74;
        @include text-style(34px, 120%, antiquewhite);
        this: &;

        @media screen and (max-width: $width1050) {
            width: 40px;
            height: 40px;
            font-size: 26px;
        }

        &_left {
            left: 0;
            background-image: linear-gradient(90deg, #6567ec 0%, $cycle 100%);
            border-radius: 0 15px 15px 0;

            @media screen and (max-width: $width1050) {
                border-radius: 0 10px 10px 0;
            }
        }

        &_right {
            right: 0;
            background-image: linear-gradient(90deg, $cycle 0%, #6567ec 100%);
            border-radius: 15px 0 0 15px;

            @media screen and (max-width: $width1050) {
                border-radius: 10px 0 0 10px;
            }
        }
    }

    &__container {
        max-width: 90vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media screen and (max-width: $width899) {
            flex-direction: column;
        }
    }

    &__info {
        margin: 20px;
        max-width: 600px;
        this: &;
        text-align: justify;

        @media screen and (max-width: $width500) {
            margin: 15px;
        }
    }

    &__title {
        margin: 0 {
            bottom: 42px;
        }

        @media screen and (max-width: $width1050) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $width899) {
            text-align: center;
        }

        & a {
            text-decoration: none;
            @include text-style(32px, 110%, black);

            @media screen and (max-width: $width1050) {
                font-size: $titleFontSize500;
            }

        }
    }

    &__subtitle {
        @include text-style(22px, 160%, black);

        @media screen and (max-width: $width1050) {
            font-size: 18px;
        }

        @media screen and (max-width: $width500) {
            @include text-style($mainFontSize500, 145%, black);
        }
    }

    &__figure {
        margin: 5px 0;
        box-sizing: border-box;
        object-fit: contain;
        width: 400px;
        height: 300px;

        @media screen and (max-width: $width899) {
            width: 50vw;
            height: 40vw;
        }
    }
}
