@font-face {
    src: url("./AdverGothic/advergothicc.ttf") format("truetype");
    font-family: "Gothic";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url("./Times/TimesNewRomanPSMT.woff") format("woff");
    font-family: "Times";
    font-style: normal;
    font-weight: 400;
}