@font-face {
    src: url("./AdverGothic/advergothicc.ttf") format("truetype");
    font-family: "Gothic";
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url("./Georgia/Georgia-Regular.woff") format("woff"),
        url("./Georgia/Georgia-Regular.woff2") format("woff2");
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
}

// ../../assets/fonts/Georgia/

// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-Light.woff2') format('woff2') url('./OpenSans/OpenSans-Light.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-LightItalic.woff2') format('woff2') url('./OpenSans/OpenSans-LightItalic.woff') format('woff');
// 	font-weight: 300;
// 	font-style: italic;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-Regular.woff2') format('woff2') url('./OpenSans/OpenSans-Regular.woff') format('woff');
// 	font-weight: 400;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-Italic.woff2') format('woff2') url('./OpenSans/OpenSans-Italic.woff') format('woff');
// 	font-weight: 400;
// 	font-style: italic;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-Medium.woff2') format('woff2') url('./OpenSans/OpenSans-Medium.woff') format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-MediumItalic.woff2') format('woff2') url('./OpenSans/OpenSans-MediumItalic.woff') format('woff');
// 	font-weight: 500;
// 	font-style: italic;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-SemiBold.woff2') format('woff2') url('./OpenSans/OpenSans-SemiBold.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2') url('./OpenSans/OpenSans-SemiBoldItalic.woff') format('woff');
// 	font-weight: 600;
// 	font-style: italic;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-Bold.woff2') format('woff2') url('./OpenSans/OpenSans-Bold.woff') format('woff');
// 	font-weight: 700;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-BoldItalic.woff2') format('woff2') url('./OpenSans/OpenSans-BoldItalic.woff') format('woff');
// 	font-weight: 700;
// 	font-style: italic;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-ExtraBold.woff2') format('woff2') url('./OpenSans/OpenSans-ExtraBold.woff') format('woff');
// 	font-weight: 800;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Open Sans';
// 	src: url('./OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2') url('./OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff');
// 	font-weight: 800;
// 	font-style: italic;
// }
