@import "../../../assets/constants.scss";

.document {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 20px;

    &__icon {
        width: auto;
        height: 70px;
        object-fit: scale-down;

        @media screen and (max-width: $width500) {
            height: 13vw;
        }
    }

    &__text {
        margin: 0;
        @include text-style(16px, 121%, black);
        text-align: center;
        letter-spacing: 0.06em;

        @media screen and (max-width: $width500) {
            font-size: 15px;
            line-height: 1.1;
        }
    }
}
