@import "../../assets/constants.scss";

.app {
    width: 100%;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-family: "Georgia", sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 {
        top: $appPaddingTop;
    };

    &_stopped {
        overflow: hidden;
        height: 100vh;
    }
}