@import "../../assets/fonts/fonts.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-family: "Georgia", sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    position: relative;
    // background-image: url("../../assets/images/bg1.jpg");
    // background-size: 100vw auto;
    // background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(45,109,218,1) 0%, rgba(2,1,102,1) 100%);
    $this: &;

    &_stopped {
        overflow: hidden;
        height: 100vh;
    }
}