@import "../../assets/constants.scss";

.logo {
    @include text-style(34px, 1.2, red, "Gothic", italic);
    text: {
        decoration: none 5px;
        shadow: 1px 2px 3px rgb(21, 8, 71);
    }

    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 0px;
    }
}
