@import "../../assets/constants.scss";

.about {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 0 30px;
    align-items: center;
    @include text-style(30px, 110%, black);
    margin-left: 70px;
    /* 
    @media screen and (max-width: 1100px) {
        margin-top: 50px;
    }

    @media screen and (max-width: 964px) {
        margin-top: 0;
    }

    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    @media screen and (max-width: 512px) {
        max-width: (30000vw/320);
    } */

    &__subtitle {
        margin: 0;
        text-align: justify;
        @include text-style(20px, 160%, black);
        &:first-of-type {
            margin-bottom: 42px;
        }
    }
}
