@import "../../assets/constants.scss";

.about {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 0 30px;
    align-items: center;
    margin-left: $leftMargin;

    @media screen and (max-width: $width1450) {
        grid-template-columns: 1fr;
        grid-template-rows: auto min-content;
        gap: 10px 0;
        margin: 0 $margin1256;
    }

    @media screen and (max-width: $width899) {
        grid-template-columns: 1fr;
        grid-template-rows: auto min-content;
        gap: 10px 0;
        margin: 0 25px;
    }

    &__subtitle {
        margin: 0 {
            bottom: 15px;
        }
        text-align: justify;
        @include text-style(20px, 160%, $cycleDarkest);
        &:last-of-type {
            margin-bottom: 0;
        }

        @media screen and (max-width: 1050px) {
            font-size: 18px;
            margin-bottom: 12px;
        }

        @media screen and (max-width: $width500) {
            @include text-style($mainFontSize500, 145%, $cycleDarkest);
            margin-bottom: 8px;
        }
    }
}
