@import "../../assets/constants.scss";

.productBg {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    $this: &;
    // border-radius: 100px 100px 100px 100px;

    &__background {
        width: 100%;
        position: absolute;
        bottom: 0;

        @media screen and (max-width: $width899) {
            height: 80vh;
            width: auto;
        }
    }

    
    
}