@import "../../assets/constants.scss";

.header {
    max-width: 100vw;
    margin-top: -120px;
    padding-top: 80px;
    position: relative;
    border-radius: 0 0 100px 0;
    overflow: hidden;

    @media screen and (max-width: $width999) {
        padding-top: 100px;
    }

    @media screen and (max-width: $width899) {
        border-radius: 0 0 60px 0;
    }

    &:before {
        @include shaiding;
        border-radius: 0 0 100px 0;

        @media screen and (max-width: $width899) {
            border-radius: 0 0 60px 0;
        }
    }
    &__info {
        overflow: hidden;
        max-width: 1560px;
        padding: 0 $leftMargin;
        margin: 100px auto;
        position: relative;

        @media screen and (max-width: $width899) {
            margin: {
                top: 0;
                bottom: 30px;
            }
            padding-left: $margin899;
            text-align: center;
        }

        &_products {
            text-align: center;
            margin: {
                top: 50px;
                bottom: 50px;
            };
        }
    }

    &__title {
        margin: 0 {
            bottom: 30px;
        }
        width: 100%;
        @include text-style(70px, 130%, antiquewhite);

        @media screen and (max-width: 1460px) {
            font-size: 55px;
        }

        @media screen and (max-width: $width899) {
            font-size: 37px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $width500) {
            font-size: 33px;
            margin-bottom: 0;
        }

        @media screen and (max-width: 400px) {
            font-size: 27px;
            margin-bottom: 0;
        }
    }

    &__subtitle {
        width: 40%;
        margin: 0 {
            left: 10px;
        }
        @include text-style(25px, 160%, antiquewhite);

        @media screen and (max-width: 1460px) {
            width: 60%;
        }

        @media screen and (max-width: $width899) {
            font-size: 18px;
            width: 100%;
        }

        @media screen and (max-width: $width500) {
            font-size: $mainFontSize500;
            width: 90%;
            text-align: center;
            margin: {
                left: auto;
                right: auto;
            }
        }

        @media screen and (max-width: 400px) {
            width: 100%;
            font-size: 16px;
        }

        &_products {
            width: 100%;
        }
    }
}
