@import "../../assets/constants.scss";

.partners {
    margin: 30px 70px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 35px 100px;

    // @media screen and (max-width: 1279px) {
    //     display: grid;
    //     grid-template-columns: repeat(3, auto);
    //     grid-template-rows: auto;
    //     justify-items: center;
    //     gap: 55px (7000vw/768);
    //     justify-content: center;
    // }

    // @media screen and (max-width: 512px) {
    //     padding-top: 40px;
    //     grid-template-columns: repeat(2, 125px);
    //     gap: 30px (4000vw/320);
    // }
}
