@import "../../assets/constants.scss";

.section {
    padding: 45px 0;
    background: white;

    &_grey {
        background: $greyBack;
    }

    &__container {
        max-width: 1560px;
        margin: 0 auto;

        /*         @media screen and (max-width: 964px) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: 767px) {
            padding: 0 10px;
        } */
    }

    &__title {
        margin: 0 {
            bottom: 40px;
            left: 70px;
        }
        width: 100%;
        @include text-style(54px, 130%, black);

        /*         @media screen and (max-width: 512px) {
            font-size: 25px;
            max-width: (20000vw/320);
        } */
    }
}
