@import "../../assets/constants.scss";

.section {
    padding: 45px 0;
    background: white;

    @media screen and (max-width: 1256px) {
        padding: 25px 0;
    }

    @media screen and (max-width: $width500) {
        padding: 10px 0;
    }

    &_grey {
        background: $greyBack;
    }

    &_hiddenOverflow {
        overflow: hidden;
    }

    &__container {
        max-width: 1560px;
        margin: 0 auto;

        /*         @media screen and (max-width: 964px) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: 767px) {
            padding: 0 10px;
        } */
    }

    &__title {
        margin: 0 {
            bottom: 40px;
            left: $leftMargin;
        }
        max-width: 100%;
        @include text-style(56px, 130%, black);

        @media screen and (max-width: 1256px) {
            font-size: 48px;
            margin: {
                bottom: 20px;
                left: $margin1256;
            }
        }

        @media screen and (max-width: 1050px) {
            font-size: 38px;
        }

        @media screen and (max-width: $width899) {
            text-align: center;
            margin: {
                left: auto;
                right: auto;
            }
        }

        @media screen and (max-width: $width500) {
            font-size: $titleFontSize500 + 2px;
            margin-bottom: 10px;
        }

    }
}
