@import "../../assets/constants.scss";

.footer {
    max-width: 100vw;
    background-color: $greyBack;

    &__container {
        min-height: 100px;
        max-width: 1560px;
        padding: 5px 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__info {
        @include text-style(18px, (24/15 * 100%), $cycle);
        font-style: italic;
    }
}
