$cycle: rgba(1,73,168);
$greyBack: #f6f6f6;
$appPaddingTop: 40px;
$maxWidth: 1920px;
$width1450: 1450px;
$width999: 999px;
$width899: 899px;
$width700: 700px;
$width500: 500px;
$titleFontSize500: 29px;
$mainFontSize500: 19px;
$leftMargin: 70px;
$margin1256: 80px;
$margin899: 50px;
$contactsSectionHeight: 600px;
$contactsSectionHeight980: 500px;

$arial: "Arial";

@mixin text-style(
    $size,
    $line-height,
    $color: white,
    $family: "Times",
    $style: normal
) {
    font: {
        family: $family, sans-serif;
        weight: 400;
        size: $size;
        style: $style;
    }
    color: $color;
    line-height: $line-height;
}

@mixin shaiding {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.numbers {
    font-family: "Times New Roman", Times, serif;
}

.iconsGreed {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px 100px;
    padding: 0 30px;
}