@import "../../assets/constants.scss";

.slider {
    max-width: 100vw;
    margin-top: -80px;
    padding-top: 80px;
    position: relative;

    @media screen and (max-width: $width999) {
        margin-top: 0;
        padding-top: 40px;

    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 100px 0;

        @media screen and (max-width: $width899) {
            border-radius: 0 0 60px 0;
        }
    }

    &__slide {
        position: absolute;
        width: 100%;
        background: url(../../assets/images/bg1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        background-position: center;
        transition: opacity linear 1.5s;
        border-radius: 0 0 100px 0;

        @media screen and (max-width: $width899) {
            border-radius: 0 0 60px 0;
        }
    }

    &__container {
        overflow: hidden;
        max-width: 1560px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 100px 0;
        position: relative;
    }

    &__info {
        margin: 100px 0 {
            left: $leftMargin;
        }

        @media screen and (max-width: $width899) {
            margin: 0 $margin899 30px;
            text-align: center;
        }

        
    }

    &__title {
        margin: 0 {
            bottom: 30px;
        }
        width: 100%;
        @include text-style(70px, 130%, antiquewhite);

        @media screen and (max-width: 1460px) {
            font-size: 55px;
        }

        @media screen and (max-width: $width899) {
            font-size: 37px;
            margin-bottom: 15px;
        }

        @media screen and (max-width: $width500) {
            font-size: 33px;
            margin-bottom: 0;
        }

        @media screen and (max-width: 400px) {
            font-size: 27px;
            margin-bottom: 0;
        }
    }

    &__subtitle {
        width: 40%;
        margin: 0 {
            left: 10px;
        }
        @include text-style(25px, 160%, antiquewhite);

        @media screen and (max-width: 1460px) {
            width: 60%;
        }

        @media screen and (max-width: $width899) {
            font-size: 18px;
            width: 100%;
        }

        @media screen and (max-width: $width500) {
            font-size: $mainFontSize500;
            width: 90%;
            text-align: center;
            margin: {
                left: auto;
                right: auto;
            };
        }

        @media screen and (max-width: 400px) {
            width: 100%;
            font-size: 16px;
        }
    }

    &__button {
        width: 180px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 0.5px solid black;
        border-radius: 15px;
        cursor: pointer;
        background-image: linear-gradient(90deg, #6567ec 0%, $cycle 100%);
        box-shadow: 2px 2px 3px #000700;
        @include text-style(20px, 160%, antiquewhite);
        text-decoration: none;
        margin: 0 {
            bottom: 10px;
            left: 10px;
        }
        $this: &;

        &:hover {
            background-image: linear-gradient(270deg, #6567ec 0%, $cycle 100%);
        }

        &:active {
            background-image: linear-gradient(270deg, #6567ec 0%, $cycle 100%);
            box-shadow: 1px 1px 0 0 #0b160b inset,
                0 -0.5px 0.5px 0 #0b160b inset;
        }
    }
}
