@import "../../assets/constants.scss";

.slide {
    position: absolute;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background-position: center;
    transition: opacity linear 1.5s;
}
